<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>


<div class="container-fluid">

  <div class="card">

    <div class="row">
      <div class="col-md-8">
        <div class="page-header card-header">
          <h1>
            Task Name
          </h1>
        </div>
        <div class="row">
          <div class="col-md-12 card-body p-5">
            <h2>
              Task Description
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>
             
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-5">
        <h3 class="text-center pb-4">
          Task Priority: 5
        </h3>
        <div class="card" style="padding:10px;">

          <div class="card-header">
            <h4 class="float-left"> Time Allocated: </h4>
            <h4 class="float-right"> 120 Minutes </h4>

            <div class="pt-5">
          <h5 class="float-left">
            Task Timer
          </h5>

          <h5 class="float-right">
              3:00:00
            </h5>

          </div>

        </div>

          <div class="card-body">

            <div class="row p-3">
                <button type="button" class="btn btn-dark btn-block btn-lg">
                    Start Timer
                  </button>

            </div>

            <div class="row p-3">
                <button type="button" class="btn btn-danger btn-block btn-lg ">
                    Stop Timer
                  </button>

            </div>

          </div>
    

        </div> 
        <div class= "p-3">
        <button type="button" class="btn btn-outline-success btn-block btn-lg">
          Submit for Review
        </button>
      </div>


      </div>
    </div>
  </div>

</div>


      